// 자세히 알아보기 버튼 //
.link-detail {
    display: block;
    width: 125px;
    height: 40px;
    border: 1px solid #222;
    text-align: center;
    line-height: 36px;
    /* border size minus */
    transition: all 0.3s;
    font-size: 12px;
    margin-bottom: 40px;

    .sc-intro & {
        margin: 0 auto;
        margin-bottom: 40px
    }

    .sc-review & {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}



// 블릿
.pagination {
    @include position();
    bottom: 0;
    display: flex;
    gap: 17.5px;
    height: 40px;
    align-items: center;
    .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        .sc-slide & {
            border: 2px solid #fff;
            &.active {
                background: #fff;
            }
        }
        
    }
}

.sc-review .page {
    height: 40px;
    display: flex;
    gap: 17.5px;
    align-items: center;
    justify-content: center;
    .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #ddd;
        &.active {
            background: #ddd;
        }
    }
}


// 탑버튼 
.top-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
   
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    background: #000;
    opacity: .8;
    a {
        width: 30px;
        height: 30px;
        display: block;
        img {
            @include position('ct');
            width: 14px;
            height: 10px;
        }
    }
}