#main {
    min-width: 320px;

    // 슬라이드
    .sc-slide {
        position: relative;


    }

    // 소개
    .sc-intro {
        padding-top: 40px;

        .headline {
            margin-bottom: 20px;
        }

        .img-box {
            padding: 0 10px;
            text-align: center;

        }

        .text-box {
            padding: 0 10px;

            p {
                font-size: 13px;
                line-height: 20px;
                padding: 22.5px 0 25px;
                text-align: justify;
            }
        }

    }

    // 추천
    .sc-recommend {
        .headline {
            padding-bottom: 20px;
        }

        .content {
            color: #fff;
            position: relative;

            .bg {
                z-index: -1;

            }

            .text-box {
                @include position('ct');
                width: 280px;
                height: 200px;
                background: rgba(0, 0, 0, .7);
                padding: 22px 15px;

                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                    margin-bottom: 16px;
                }

                p {
                    font-size: 13px;
                    line-height: 20px;
                    text-align: justify;
                }
            }
        }
    }

    // 이벤트
    .sc-events {
        margin-top: 40px;
        padding: 0 35px;

        .event-list {

            .event-item {

                .text-box {

                    em {
                        padding: 15px 0;
                        display: block;
                        font-size: 12px;
                        line-height: 14px;
                        color: #858585;
                    }

                    strong {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    p {
                        margin: 10px 0 20px;
                        @include ellipsis(1, 18px);
                    }
                }

            }
        }
    }

    // 리뷰영역
    .sc-review {
        padding: 0 30px;
        position: relative;

        .headline {
            margin-bottom: 25px;
        }


        .rv-slide {

            .text-box {
                position: relative;
                padding: 16px 0 20px;


                strong {
                    font-size: 15px;
                    @include ellip;
                    font-weight: bold;
                    line-height: 20px;
                }

                p {
                    font-size: 13px;
                    @include ellipsis(2, 20px);
                    margin-top: 8px;
                    text-align: justify;
                }

                .link-detail {
                    position: absolute;
                    bottom: 25px;
                }
            }
        }
    }

    // 게시판
    .sc-board {
        padding: 27px 20px 60px;

        .board .bd-upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid #ddd;
            padding: 10px 0;

            .headline-medium {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
            }

            .link-plus {
                width: 30px;
                height: 30px;
            }
        }

        .bd-list {
            .bd-item {
                border-bottom: 1px solid #ddd;

                a {
                    display: flex;

                    .date {
                        color: #888;
                        line-height: 50px;
                    }

                    .text {
                        margin-left: 22px;
                        line-height: 50px;
                        @include ellip;

                    }
                }
            }
        }

    }
}